Repository deepak-karkala/agentic-mlops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, prettier

ruff:
  name: ruff
  entry: ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

feat: add AWS bootstrap terraform
  infra/terraform/README.md
  infra/terraform/apprunner.tf
  infra/terraform/iam.tf
  infra/terraform/main.tf
  infra/terraform/outputs.tf
  infra/terraform/rds.tf
  infra/terraform/s3.tf
  infra/terraform/variables.tf
Due: none

feat: add AWS infrastructure deployment with 3-phase approach
  .gitignore
  1-deploy-infrastructure.sh
  2-build-and-push.sh
  3-deploy-app-runner.sh
  claude.md
  context/implementation_details.md
  deployment_guide.md
  frontend/tsconfig.json
  infra/terraform/apprunner.tf
  infra/terraform/ecr.tf
  infra/terraform/main.tf
  infra/terraform/outputs.tf
  infra/terraform/rds.tf
  infra/terraform/variables.tf
  package-lock.json
Due: prettier

feat: rewrite CLAUDE.md and add Claude Code Review CI
  .github/workflows/ci.yml
  claude.md
Due: none

test: add sample code to test Claude Code Review workflow
  api/test_review.py
Due: ruff, ruff-format

fix: resolve linting and formatting issues
  api/test_review.py
  frontend/tsconfig.json
Due: ruff, ruff-format, prettier

feat: consolidate CI and Claude Code Review into single workflow
  .github/workflows/ci.yml
  .github/workflows/sample.yml
  claude.md
Due: none

fix: update Claude Code Review to use npm CLI approach
  .github/workflows/ci.yml
Due: none

fix: simplify Claude Code Review to run on every PR
  .github/workflows/ci.yml
Due: none

fix: replace non-existent Claude CLI with direct Anthropic API
  .github/workflows/ci.yml
Due: none

feat: use official Claude Code action for PR reviews
  .github/workflows/ci.yml
Due: none

fix: add GitHub token for Claude Code action authentication
  .github/workflows/ci.yml
Due: none

fix: complete Issue #1 and #2 from implementation plan
  .github/workflows/ci.yml
  IMPLEMENTATION_CHANGELOG.md
  frontend/tsconfig.json
  infra/terraform/rds.tf
Due: prettier

feat: implement Issue #3 - Basic Frontend Chat UI
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/canvas/__tests__/code-canvas.test.tsx
  frontend/components/canvas/code-canvas.tsx
  frontend/components/chat/__tests__/chat-interface.test.tsx
  frontend/components/chat/chat-interface.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/tabs.tsx
  frontend/frontend/package-lock.json
  frontend/frontend/package.json
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/package.json
  frontend/tailwind.config.ts
  frontend/tsconfig.json
  frontend/types/chat.ts
Due: prettier

fix: prettier formatting and package-lock.json updates
  frontend/components/canvas/__tests__/code-canvas.test.tsx
  frontend/components/canvas/code-canvas.tsx
  frontend/components/chat/__tests__/chat-interface.test.tsx
  frontend/components/chat/chat-interface.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/tabs.tsx
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/types/chat.ts
  package-lock.json
Due: prettier

fix: resolve terraform validation issues and frontend directory structure
  claude.md
  context/prompts.md
  frontend/app/page.tsx
  frontend/components/canvas/code-canvas.tsx
  frontend/components/chat/chat-interface.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/tabs.tsx
  frontend/frontend/package.json
  frontend/jest.config.js
  frontend/package-lock.json
  infra/terraform/apprunner.tf
  infra/terraform/ecr.tf
  infra/terraform/rds.tf
Due: prettier

docs: update IMPLEMENTATION_CHANGELOG.md with Issue #3 completion
  IMPLEMENTATION_CHANGELOG.md
Due: none

fix: resolve Jest configuration and module path issues
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/tabs.tsx
  frontend/jest.config.js
Due: prettier

fix: force CI cache invalidation for Jest config
  frontend/jest.config.js
Due: prettier

Updating frontend relative paths to correct CI errors
  IMPLEMENTATION_CHANGELOG.md
  frontend/jest.config.js
Due: prettier

fix: add missing frontend/lib/utils.ts file to repository
  .gitignore
  frontend/lib/utils.ts
Due: prettier

Updating utils.ts to fix prettier fixes
  frontend/lib/utils.ts
Due: prettier

feat: replace tabs with resizable 2-column layout
  frontend/app/globals.css
  frontend/app/page.tsx
Due: prettier

feat: implement Issue #4 thin slice LangGraph workflow and modernize API
  IMPLEMENTATION_CHANGELOG.md
  api/main.py
  claude.md
  libs/graph.py
  pyproject.toml
  tests/test_api.py
  uv.lock
Due: ruff, ruff-format

feat: implement Issue #5 - End-to-End Deployment & Test with secure CORS
  1-deploy-infrastructure.sh
  2-build-and-push.sh
  3-deploy-app-runner.sh
  IMPLEMENTATION_CHANGELOG.md
  api/Dockerfile
  api/main.py
  claude.md
  frontend/Dockerfile
  frontend/components/chat/__tests__/chat-interface.test.tsx
  frontend/components/chat/chat-interface.tsx
  frontend/jest.setup.js
  frontend/next.config.mjs
  infra/terraform/apprunner.tf
  infra/terraform/ecr.tf
  infra/terraform/outputs.tf
  infra/terraform/variables.tf
  libs/graph.py
  test-e2e.sh
Due: ruff, ruff-format, prettier

fix: resolve Terraform circular dependency between API and frontend services
  .github/workflows/ci.yml
  api/main.py
  infra/terraform/apprunner.tf
Due: ruff, ruff-format

feat: add Playwright E2E tests as specified in Issue #5
  IMPLEMENTATION_CHANGELOG.md
  claude.md
  deployment_guide.md
  frontend/e2e/chat-flow.spec.ts
  frontend/jest.config.js
  frontend/package.json
  frontend/playwright-report/index.html
  frontend/playwright.config.ts
  package-lock.json
  test-e2e-playwright.sh
Due: prettier

feat: implement Issue #6 - Base Data Models & Migrations
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/4a829da904d1_initial_migration_with_core_models.py
  libs/models.py
  pyproject.toml
  test.db
  tests/test_models.py
  uv.lock
Due: ruff, ruff-format

fix: resolve pytest SQLite compatibility issues
  IMPLEMENTATION_CHANGELOG.md
  alembic/env.py
  alembic/versions/4a829da904d1_initial_migration_with_core_models.py
  libs/models.py
  tests/test_models.py
Due: ruff, ruff-format

feat: reorganize repository structure and clean up scattered files
  docs/IMPLEMENTATION_CHANGELOG.md
  docs/claude.md
  docs/deployment_guide.md
  docs/sqlalchemy-alembic-guide.md
  scripts/1-deploy-infrastructure.sh
  scripts/2-build-and-push.sh
  scripts/3-deploy-app-runner.sh
  scripts/test-e2e-playwright.sh
  scripts/test-e2e.sh
  test.db
Due: none

feat: implement Issue #7 - LangGraph Checkpointing & Durable State
  .gitignore
  api/main.py
  docs/issue-7-implementation-guide.md
  libs/database.py
  libs/graph.py
  pyproject.toml
  tests/test_api.py
  tests/test_checkpointing.py
  uv.lock
Due: ruff, ruff-format

feat: implement Issue #8 - Asynchronous Job Queue & Worker System
  api/main.py
  docs/IMPLEMENTATION_CHANGELOG.md
  docs/issue-8-async-job.md
  libs/job_service.py
  pyproject.toml
  tests/test_async_api.py
  tests/test_job_system.py
  uv.lock
  worker/main.py
Due: ruff, ruff-format

feat: implement Issue #9 - Full Graph Topology with MLOpsProjectState
  .gitignore
  libs/graph.py
Due: ruff, ruff-format

fix: resolve CI test failure in test_job_status_endpoint_not_found
  tests/test_async_api.py
Due: ruff, ruff-format

Fix ruff-format error
  tests/test_async_api.py
Due: ruff, ruff-format

feat: implement Issue #10 - LLM Agent Architecture & Legacy Code Cleanup
  .github/workflows/ci.yml
  api/main.py
  docs/IMPLEMENTATION_CHANGELOG.md
  docs/issue-10-implementation-overview.md
  docs/issue-10-llm-transformation-plan.md
  libs/adaptive_questions_agent.py
  libs/agent_framework.py
  libs/agent_output_schemas.py
  libs/constraint_schema.py
  libs/coverage_check_agent.py
  libs/database.py
  libs/graph.py
  libs/intake_extract_agent.py
  libs/job_service.py
  libs/llm_agent_base.py
  libs/llm_client.py
  libs/llm_cost_critic_agent.py
  libs/llm_planner_agent.py
  libs/llm_policy_engine_agent.py
  libs/llm_tech_critic_agent.py
  pyproject.toml
  tests/test_constraint_schema.py
  tests/test_full_graph.py
  tests/test_llm_agents.py
  tests/test_llm_integration.py
  tests/test_llm_workflow_integration.py
  uv.lock
Due: ruff, ruff-format

fix: remove duplicate reason_cards key in test fixture
  libs/adaptive_questions_agent.py
  libs/agent_framework.py
  libs/intake_extract_agent.py
  libs/llm_agent_base.py
  tests/test_full_graph.py
  tests/test_llm_agents.py
  tests/test_llm_integration.py
  tests/test_llm_workflow_integration.py
Due: ruff, ruff-format

feat: implement Human-in-the-Loop (HITL) Gate with LangGraph interrupts
  api/main.py
  libs/graph.py
  tests/test_hitl_e2e.py
  tests/test_hitl_gate.py
Due: ruff, ruff-format

feat: implement Code Generation & Validation using Claude Code SDK
  libs/codegen_service.py
  libs/graph.py
  libs/validation_service.py
  pyproject.toml
  tests/test_codegen_integration.py
  tests/test_codegen_service.py
  tests/test_full_graph.py
  tests/test_validation_service.py
  uv.lock
Due: ruff, ruff-format

feat: implement streaming reason cards and SSE resilience (Issue #13)
  .gitignore
  api/main.py
  docs/IMPLEMENTATION_CHANGELOG.md
  docs/streaming-architecture-guide.md
  frontend/app/page.tsx
  frontend/components/chat/enhanced-chat-interface.tsx
  frontend/components/streaming/index.ts
  frontend/components/streaming/reason-card.tsx
  frontend/components/streaming/streaming-panel.tsx
  frontend/components/streaming/workflow-container.tsx
  frontend/components/streaming/workflow-progress.tsx
  frontend/components/streaming/workflow-step.tsx
  frontend/components/ui/badge.tsx
  frontend/hooks/index.ts
  frontend/hooks/useStreamingEvents.ts
  libs/graph.py
  libs/streaming_models.py
  libs/streaming_service.py
  pyproject.toml
  tests/test_streaming_functionality.py
Due: ruff, ruff-format, prettier

fix: resolve test failures and code quality issues
  api/main.py
  docs/deployment_guide.md
  frontend/app/page.tsx
  frontend/components/chat/enhanced-chat-interface.tsx
  frontend/components/streaming/index.ts
  frontend/components/streaming/reason-card.tsx
  frontend/components/streaming/streaming-panel.tsx
  frontend/components/streaming/workflow-container.tsx
  frontend/components/streaming/workflow-progress.tsx
  frontend/components/streaming/workflow-step.tsx
  frontend/components/ui/badge.tsx
  frontend/hooks/index.ts
  frontend/hooks/useStreamingEvents.ts
  infra/terraform/apprunner.tf
  infra/terraform/ecr.tf
  infra/terraform/outputs.tf
  infra/terraform/variables.tf
  libs/codegen_service.py
  libs/graph.py
  libs/streaming_models.py
  libs/streaming_service.py
  libs/validation_service.py
  scripts/2-build-and-push.sh
  scripts/3-deploy-app-runner.sh
  tests/test_api.py
  tests/test_codegen_integration.py
  tests/test_codegen_service.py
  tests/test_hitl_e2e.py
  tests/test_hitl_gate.py
  tests/test_job_system.py
  tests/test_streaming_functionality.py
  tests/test_validation_service.py
  uv.lock
  worker/main.py
Due: ruff, ruff-format, prettier

Path conditions:
  ruff: any of: \.(py)$
  ruff-format: any of: \.(py)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css)$
