Repository deepak-karkala/agentic-mlops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        files: \.(py)$
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        files: \.(py)$
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        files: \.(ts|tsx|js|jsx|json|css)$

feat: comprehensive platform enhancement with portfolio documentation
  AGENTS.md
  api/main.py
  claude.md
  docs/LANGSMITH_INTEGRATION_SUMMARY.md
  docs/PRODUCT_FEATURES.md
  docs/TECHNICAL_ARCHITECTURE.md
  docs/streaming-architecture-guide.md
  frontend/app/demo/hitl/page.tsx
  frontend/app/page.tsx
  frontend/components/hitl/question-form.tsx
  frontend/components/streaming/reason-card.tsx
  frontend/components/streaming/workflow-container.tsx
  frontend/components/streaming/workflow-step.tsx
  frontend/hooks/useStreamingEvents.ts
  libs/adaptive_questions_agent.py
  libs/codegen_service.py
  libs/coverage_check_agent.py
  libs/database.py
  libs/graph.py
  libs/hitl_graph.py
  libs/intake_extract_agent.py
  libs/llm_agent_base.py
  libs/llm_client.py
  libs/llm_cost_critic_agent.py
  libs/llm_planner_agent.py
  libs/llm_policy_engine_agent.py
  libs/llm_tech_critic_agent.py
  libs/mock_agents.py
  libs/streaming_models.py
  libs/streaming_service.py
  pyproject.toml
  tests/test_codegen_integration.py
  tests/test_codegen_service.py
  tests/test_llm_agents.py
  tests/test_llm_integration.py
  uv.lock
  worker/main.py
Due: ruff, ruff-format, prettier

fix: let cors middleware manage sse headers
  api/main.py
Due: ruff, ruff-format

Mock responses for agents to avoid API calls
  libs/adaptive_questions_agent.py
  libs/coverage_check_agent.py
  libs/database.py
  libs/graph.py
  libs/intake_extract_agent.py
  libs/llm_agent_base.py
  libs/llm_cost_critic_agent.py
  libs/llm_planner_agent.py
  libs/llm_policy_engine_agent.py
  libs/llm_tech_critic_agent.py
Due: ruff, ruff-format

Adding workflow status panel, SSE streaming error fixed
  api/main.py
  docs/sse-streaming-debug-guide.md
  frontend/components/chat/enhanced-chat-interface.tsx
  frontend/components/streaming/workflow-container.tsx
  frontend/components/streaming/workflow-status-panel.tsx
  frontend/components/streaming/workflow-visualization.tsx
  frontend/lib/workflow.ts
  libs/graph.py
Due: ruff, ruff-format, prettier

Fixed Streaming SSE error
  api/main.py
  docs/sse-streaming-debug-guide.md
  frontend/components/streaming/workflow-status-panel.tsx
  libs/graph.py
Due: ruff, ruff-format, prettier

feat(frontend): redesign landing page experience
  docs/landing-page-redesign-plan.md
  frontend/.eslintrc.json
  frontend/app/demo/hitl/page.tsx
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/chat/enhanced-chat-interface.tsx
  frontend/components/hitl/question-form.tsx
  frontend/components/landing/hero-section.tsx
  frontend/components/streaming/workflow-container.tsx
  frontend/components/streaming/workflow-visualization.tsx
  frontend/components/templates/template-card.tsx
  frontend/components/templates/template-showcase.tsx
  frontend/components/ui/button.tsx
  frontend/data/landing-themes.ts
  frontend/data/mlops-templates.ts
  frontend/package.json
  frontend/tailwind.config.ts
  frontend/tsconfig.json
  frontend/types/enhanced-chat.ts
  package-lock.json
Due: prettier

Claude style UI, two column format for curated blueprints
  api/main.py
  frontend/app/page.tsx
  frontend/components/chat/enhanced-chat-interface.tsx
  frontend/components/landing/hero-section.tsx
  frontend/components/templates/template-card.tsx
  frontend/data/landing-themes.ts
  frontend/tailwind.config.ts
  libs/agent_framework.py
  worker/main.py
Due: ruff, ruff-format, prettier

feat: stabilize streaming and demo codegen artifacts
  api/main.py
  docs/LANGSMITH_INTEGRATION_SUMMARY.md
  docs/implementation-changelog.md
  frontend/components/chat/enhanced-chat-interface.tsx
  frontend/components/streaming/workflow-container.tsx
  frontend/hooks/useStreamingEvents.ts
  libs/codegen_service.py
  libs/codegen_service_openai.py
  libs/graph.py
  libs/job_service.py
  libs/llm_client.py
  libs/models.py
  libs/streaming_service.py
Due: ruff, ruff-format, prettier

Updating docs
  .railwayignore
  api/Dockerfile
  claude.md
  docs/README.md
  docs/assets/architecture_diagrams/1.png
  docs/assets/architecture_diagrams/2.png
  docs/assets/architecture_diagrams/3.png
  docs/assets/architecture_diagrams/4.png
  docs/assets/architecture_diagrams/5.png
  docs/assets/portfolio_images/1.png
  docs/assets/portfolio_images/2.png
  docs/assets/portfolio_images/3.png
  docs/assets/portfolio_images/4.png
  docs/assets/portfolio_images/5.png
  docs/assets/portfolio_images/6.png
  docs/assets/portfolio_images/7.png
  docs/assets/portfolio_images/8.png
  docs/dev_notes/PRODUCT_FEATURES.md
  docs/dev_notes/TECHNICAL_ARCHITECTURE.md
  docs/dev_notes/claude.md
  docs/dev_notes/issue-10-implementation-overview.md
  docs/dev_notes/issue-10-llm-transformation-plan.md
  docs/dev_notes/issue-7-implementation-guide.md
  docs/dev_notes/issue-8-async-job.md
  docs/dev_notes/landing-page-redesign-plan.md
  docs/dev_notes/sqlalchemy-alembic-guide.md
  docs/dev_notes/sse-streaming-debug-guide.md
  docs/part1-system-overview.md
  docs/part2-technical-specifications.md
  docs/part3-architecture-deep-dive.md
  docs/part4-operations-production.md
  docs/railway_deployment_guide.md
  frontend/package-lock.json
  railway.json
Due: prettier

Updating README.md
  README.md
Due: none

Updating README
  README.md
Due: none

Updating README
  README.md
  docs/assets/portfolio_images/10.png
  docs/assets/portfolio_images/9.png
Due: none

Codegen factory function
  libs/codegen_factory.py
Due: ruff, ruff-format

Separate railway.json to frontend
  frontend/Dockerfile
  frontend/railway.json
Due: prettier

Fix to build error
  frontend/data/mlops-templates.ts
Due: prettier

ensuring public/ exists in the builder stage before the build
  frontend/Dockerfile
Due: none

Updated railway
  frontend/railway.json
Due: prettier

Picking the right backend
  frontend/app/layout.tsx
  frontend/components/chat/chat-interface.tsx
  frontend/components/chat/enhanced-chat-interface.tsx
  frontend/components/streaming/workflow-container.tsx
  frontend/hooks/useStreamingEvents.ts
  frontend/lib/runtime-config.ts
Due: prettier
